{{ define "main" }}
  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
    >
    <ul class="list-with-title tag-cloud">
      {{ range .Data.Terms.Alphabetical }}
          {{ $minCount := mul .Count 10 }}
          {{ $logValue := math.Log $minCount }}
          {{ $size := mul $logValue 1 }}
          <li> <a href="{{ .Page.Permalink }}" style="font-size: {{ $size }}em;"> {{ .Page.Title }} </a> </li>
      {{ end }}
    </ul>
  </div>
{{ end }}