{{ define "main" }}

  {{ $maxCount := 0 }}
  {{ $maxFontSize := 7 }}
  {{ $minFontSize := 1 }}
  {{ range .Data.Terms.Alphabetical }}
    {{if gt .Count $maxCount}} 
      {{ $maxCount = mul 1.0 .Count }}
    {{end}}
  {{ end }}
  
  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
    >
    <ul class="list-with-title tag-cloud">
      {{ range .Data.Terms.Alphabetical }}
          {{ $ratio := div .Count $maxCount }}
          {{ $size := math.Max (mul $ratio $maxFontSize) $minFontSize }}
          <li><a href="{{ .Page.Permalink }}" style="font-size: {{ $size }}em;">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}