{{ define "main" }}

  {{ $max := 0 }}
  {{ range .Data.Terms.Alphabetical }}
    {{if gt .Count $max}} 
      {{ $max = .Count }}
    {{end}}
  {{ end }}
  {{ $max = mul 1.0 $max }}
  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
    >
    <ul class="list-with-title tag-cloud">
      {{ range .Data.Terms.Alphabetical }}
          {{ $percentOfMax := div .Count $max }}
          {{ $size := mul $percentOfMax 10 }}
          {{ $minSize := math.Max $size 1 }}
          <li> <a href="{{ .Page.Permalink }}" style="font-size: {{ $minSize }}em; "> {{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}